---
import { Link } from "@/components/Link";
import RichText from "@/components/RichText.astro";
import type {
    CallToActionBlock as CallToActionProps,
    Media,
} from "@/lib/payloadTypes";
import AstroImage from "@/components/image/AstroImage.astro";
import { Separator } from "@/components/Separator/Separator";
import { cn } from "@/utils/ui";

const {
    richText,
    media,
    links,
    bottom,
    isReverse,
    enableBackgroundImage,
    sectionName,
    separatorType,
    darkMode,
} = Astro.props as CallToActionProps;
const mediaData = media && typeof media === "object" ? (media as Media) : null;
const { alt, unpicUrl, mimeType } = mediaData || {};
---

<section
    class={cn(
        "relative dark:bg-blue-900 dark:!bg-none py-40",
        enableBackgroundImage ? "bg-section" : "",
        sectionName,
    )}
>
    <div class="wrapper grid lg:grid-cols-2 place-items-center m-auto lg:px-4">
        <div class="p-8 md:p-12 lg:px-16 lg:py-24">
            <div
                class="mx-auto max-w-xl text-center ltr:sm:text-left rtl:sm:text-right"
            >
                {
                    richText && (
                        <RichText
                            className="cta-rich-text cta-info"
                            content={richText}
                        />
                    )
                }

                <div
                    class="grid [grid-template-columns:repeat(auto-fit,minmax(15rem,15rem))] gap-2 items-center justify-center mt-12"
                >
                    {
                        (links || []).map(({ link }, i) => {
                            return (
                                <Link size="lg" {...link} client:only="react" />
                            );
                        })
                    }
                </div>
            </div>
        </div>
        <div>
            {
                media && (
                    <AstroImage
                        src={unpicUrl!}
                        width={600}
                        height={370}
                        alt={alt!}
                        mimeType={mimeType!}
                        className={cn(
                            "h-full w-full object-cover sm:h-[calc(100%_-_2rem)] sm:self-end sm:rounded-ss-[30px] md:h-[calc(100%_-_4rem)] md:rounded-ss-[60px]",
                            `${sectionName}-image`,
                        )}
                    />
                )
            }
        </div>
    </div>

    <Separator
        type={separatorType || "separatorWhite"}
        reverse={isReverse}
        className={cn(
            "absolute dark:[&>path]:fill-section-color-blue",
            darkMode === "dark"
                ? "dark:[&>path]:fill-section-color"
                : "dark:[&>path]:fill-section-color-blue",
        )}
        style={{ bottom: `${bottom}px` }}
    />
</section>
