---
import type {
    Header as HeaderType,
    PayloadResponse,
    Post,
} from "@/lib/payloadTypes";
import { HeaderNav } from "@/components/nav/HeaderNav";
import { fetchGlobal } from "@/lib/getGlobal";
import { payloadFetch } from "@/utils/payloadFetch";

const response = await payloadFetch<PayloadResponse<Post>>(
    `/posts?limit=3&sort=-publishedAt&depth=2`,
);
const { docs } = response;
const posts = docs as Post[];

const headerData = await fetchGlobal<HeaderType>("header");
---

<header class="bg-primary dark:bg-blue-900 relative z-20 h-22 w-full px-4">
    <div class="flex h-full items-center justify-between">
        <a href="/" class="bg-white p-2 dark:bg-transparent">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 384 222"
                class="w-22"
                ><g clip-path="url(#a)"
                    ><path
                        class="dark:fill-[#f0f0f0]"
                        fill="#000"
                        d="M82.744 51.186c3.69.174 7.493.203 11.412.087v.174c.116 1.852.145 3.791.087 5.817-.057 1.968-.317 3.82-.778 5.557-5.88-.057-11.874.03-17.984.26-6.052.174-11.873.03-17.464-.433 0-5.036-.058-10.015-.173-14.935-.116-4.978-.202-9.928-.26-14.848a628.31 628.31 0 0 1 0-14.761c.058-4.92.23-9.87.519-14.848 2.248-.116 4.669-.202 7.263-.26 2.651-.116 5.302-.203 7.954-.26 2.651-.059 5.216-.117 7.695-.175 2.478-.057 4.669-.086 6.57-.086 1.903 0 3.43.029 4.583.086 1.153.058 1.73.116 1.73.174.288 2.026.345 4.081.172 6.165a111.692 111.692 0 0 0-.173 6.165v.087a36.48 36.48 0 0 1-5.62.781c-1.844.058-3.717.087-5.62.087a187.563 187.563 0 0 0-5.706-.087c-1.902 0-3.804.087-5.706.26h-.26l-.086.088a32.195 32.195 0 0 1-.26 5.21c-.172 1.736-.057 3.386.347 4.949l.086.086a78.93 78.93 0 0 0 5.274.174c1.787 0 3.574.03 5.36.087v.087c.289 1.968.375 3.936.26 5.904a72.402 72.402 0 0 0-.087 6.165c-.864.232-1.844.377-2.94.434h-3.198c-.98 0-1.874.03-2.68.087-.807.058-1.355.203-1.643.434-.288 1.679-.404 3.56-.346 5.644.115 2.084.23 3.82.346 5.21l.086.087c3.804 0 7.551.116 11.24.347Zm47.159-46.193c1.73 1.331 3.113 2.836 4.151 4.515a32.606 32.606 0 0 1 3.112 6.165 39.993 39.993 0 0 1 2.075 6.599c.288.926.461 1.852.519 2.778.115.869.201 1.766.259 2.692l-.346 8.249a47.314 47.314 0 0 1-.864 8.075c0 .058-.029.087-.087.087v.087a42.192 42.192 0 0 1-4.755 9.725 97.8 97.8 0 0 1-6.225 8.683 744.92 744.92 0 0 1-11.499.26h-11.24l-.086.087a138.752 138.752 0 0 1-1.211-14.153c-.173-4.92-.259-9.899-.259-14.935 0-5.036.029-10.101.086-15.195.116-5.152.116-10.246 0-15.282.058-.058.087-.116.087-.174l.173-.174a28.303 28.303 0 0 1 5.014-.781 41.482 41.482 0 0 1 5.361-.174c1.787 0 3.544.03 5.274.087 1.787.058 3.516.058 5.187 0 1.845.463 3.603 1.39 5.274 2.779Zm-5.014 37.597c.461-.52.864-1.042 1.21-1.563a15.026 15.026 0 0 0 2.075-4.95c.461-1.794.461-3.762 0-5.904a59.11 59.11 0 0 0-.605-2.691c-.23-.984-.576-1.91-1.038-2.779a7.851 7.851 0 0 0-1.556-2.258c-.634-.694-1.441-1.215-2.421-1.562a27.338 27.338 0 0 0-3.199-.174 12.217 12.217 0 0 0-3.285.26h-.259v.348c.115 1.563.173 3.241.173 5.036 0 1.794-.029 3.676-.087 5.644a194.73 194.73 0 0 0-.086 5.904c0 1.968.057 3.936.173 5.905.633.579 1.498.839 2.593.781a54.193 54.193 0 0 0 3.286-.26c.288.058.547.029.778-.087.23-.174.49-.319.778-.434a6.136 6.136 0 0 0 1.47-1.216Zm59.089-38.379c1.095.116 1.988.377 2.68.782.346 7.41.461 14.905.346 22.489a243.88 243.88 0 0 1-1.384 22.489c-.46 3.82-1.902 7.062-4.323 9.725-2.421 2.662-5.706 4.196-9.856 4.602-2.421.231-4.928.115-7.522-.348-2.594-.405-4.957-1.158-7.09-2.257a17.254 17.254 0 0 1-5.273-4.515c-1.384-1.91-2.133-4.197-2.248-6.86 0-7.641.086-15.34.259-23.097.173-7.757.201-15.456.086-23.097l-.086-.086h.086c.865 0 1.816-.03 2.853-.087a62.29 62.29 0 0 1 3.286-.087c1.095 0 2.161.058 3.199.174a14.07 14.07 0 0 1 2.853.434v.087c-.634 14.008-.375 28.22.778 42.633.404 1.39 1.124 2.402 2.162 3.04 1.095.636 2.219.925 3.372.867 1.152-.057 2.219-.463 3.199-1.215.979-.753 1.614-1.795 1.902-3.126.288-6.947.432-14.009.432-21.187.058-7.178.173-14.124.346-20.839.749-.058 1.7-.144 2.853-.26 1.21-.174 2.421-.29 3.631-.348a22.628 22.628 0 0 1 3.459.087Zm28.694 10.854c-.807.174-1.442.492-1.902.955-.116.116-.231.319-.346.608a2.77 2.77 0 0 1-.173.52c-.116.175-.231 1.188-.346 3.04a793.031 793.031 0 0 0-.173 6.599 357.45 357.45 0 0 0-.086 7.988c0 2.721.086 5.094.259 7.12a16.982 16.982 0 0 0 1.297 4.95c.749 1.563 1.96 2.576 3.631 3.039 1.268.115 2.45-.058 3.545-.521 1.153-.521 2.017-1.36 2.594-2.518a8.052 8.052 0 0 0 .778-4.168 18.885 18.885 0 0 1 .346-4.428c.807.115 1.7.144 2.68.086a55.84 55.84 0 0 1 3.113-.087c1.037 0 2.046.03 3.026.087 1.037.058 1.96.203 2.766.434.98 3.01 1.24 6.02.779 9.03-.461 2.953-1.47 5.616-3.027 7.99-1.556 2.372-3.602 4.34-6.138 5.904-2.479 1.505-5.303 2.286-8.473 2.344-2.075.29-4.208.29-6.398 0-2.191-.232-4.237-.782-6.139-1.65a14.223 14.223 0 0 1-4.842-3.82c-1.268-1.621-2.017-3.647-2.248-6.078a221.647 221.647 0 0 1-.259-6.513c-.058-2.257-.115-4.775-.173-7.554v-9.551c.058-3.589.115-7.728.173-12.417a10.155 10.155 0 0 1 .086-2.952c.231-1.042.519-1.997.865-2.865a22.959 22.959 0 0 1 1.902-4.168 16.144 16.144 0 0 1 2.853-3.387 9.002 9.002 0 0 1 2.075-1.128c.75-.348 1.528-.637 2.335-.869 2.651-.868 5.274-1.215 7.868-1.042 2.594.174 5.014.782 7.262 1.824a22.017 22.017 0 0 1 6.225 3.994 19.64 19.64 0 0 1 4.41 5.818c1.095 2.141 1.758 4.486 1.988 7.033.231 2.547-.115 5.152-1.037 7.814a23.473 23.473 0 0 1-6.312.521 65.746 65.746 0 0 1-6.311-.868 33.111 33.111 0 0 1-.346-3.733c0-1.39-.144-2.663-.432-3.821-.289-1.216-.836-2.2-1.643-2.952-.75-.753-1.96-1.1-3.631-1.042-.75.116-1.557.26-2.421.434Zm57.623 13.545c.403 1.68.72 3.01.951 3.995l6.484 30.39v.087c-1.729.347-3.631.463-5.706.347-2.075-.058-4.035-.29-5.88-.694h-.086a38.09 38.09 0 0 1-1.038-3.3 126.339 126.339 0 0 0-.951-3.907 61.32 61.32 0 0 0-.951-3.82c-.346-1.216-.72-2.258-1.124-3.127-.749-.116-1.326-.173-1.729-.173h-1.124c-.288 0-.634.029-1.037.087h-1.47c-.404.926-.749 2.026-1.038 3.299-.23 1.216-.49 2.518-.778 3.907a77.6 77.6 0 0 1-.778 3.908c-.288 1.273-.692 2.402-1.211 3.386-.057 0-.115.029-.172.087h-.087c-.461.116-1.614.116-3.458 0-1.845-.116-4.727-.145-8.646-.087-.058 0-.115-.029-.173-.087.115-.405.317-1.534.605-3.386.289-1.852.692-4.255 1.211-7.207a2009.52 2009.52 0 0 1 1.815-10.16 407.5 407.5 0 0 1 2.594-12.329c.98-4.341 2.046-8.857 3.199-13.545a293.919 293.919 0 0 1 3.805-13.98 9.127 9.127 0 0 1 1.296-.087H259.487c1.21-.058 2.767-.173 4.669-.347.173.752.432 1.91.778 3.473a90.673 90.673 0 0 1 1.21 5.21c.462 1.91.923 3.965 1.384 6.165.519 2.2 1.008 4.312 1.47 6.338.461 2.026.893 3.879 1.297 5.557Zm-11.154 9.725a62.268 62.268 0 0 1 3.286-.087c-.577-4.978-1.095-8.856-1.557-11.635-.403-2.778-.778-4.66-1.124-5.644-.288-.984-.605-1.186-.951-.607-.288.52-.576 1.62-.864 3.3a3900.21 3900.21 0 0 0-.865 6.338 361.983 361.983 0 0 1-1.037 8.248c.98.058 2.017.087 3.112.087Zm64.032 17.627a43.615 43.615 0 0 1 3.199 6.86h.086c-2.017 0-4.265.086-6.743.26a67.048 67.048 0 0 1-7.609-.087h-.086a191.479 191.479 0 0 0-5.015-10.593 88.4 88.4 0 0 0-3.372-5.991c-1.211-1.969-2.421-3.705-3.631-5.21l-.173-.26c-.173 1.33-.26 2.98-.26 4.949 0 1.91.029 3.907.087 5.99.115 2.027.23 3.966.346 5.818.115 1.853.201 3.329.259 4.429-.98.405-2.277.665-3.891.781a62.876 62.876 0 0 1-4.668.174 51.562 51.562 0 0 1-4.237 0c-1.21-.058-1.96-.058-2.248 0 .115 0 .202-.782.259-2.345.058-1.62.087-3.733.087-6.338v-8.944c0-3.415-.029-6.917-.087-10.506 0-3.647-.057-7.236-.172-10.767-.058-3.589-.116-6.86-.173-9.812-.058-3.01-.145-5.557-.26-7.64-.058-2.142-.144-3.59-.26-4.342a283.72 283.72 0 0 1 10.636-1.303c3.861-.405 7.896-.376 12.104.087 3.401.174 6.455 1.158 9.165 2.952 2.708 1.795 4.812 4.024 6.311 6.686 1.499 2.663 2.277 5.615 2.334 8.857.116 3.184-.72 6.28-2.507 9.29a15.397 15.397 0 0 1-4.41 5.21c-1.786 1.39-4.063 2.171-6.83 2.345H310.982v.087a97.35 97.35 0 0 0 3.977 6.425 243.549 243.549 0 0 1 4.237 6.339 125.095 125.095 0 0 1 3.977 6.599Zm-19.972-42.72c-1.96.057-3.949.492-5.966 1.302.058.752.086 1.62.086 2.605.058.926.087 1.881.087 2.865v2.866c.058.926.144 1.707.259 2.344h.087c1.325.116 2.766.203 4.323.26a21.788 21.788 0 0 0 4.409-.26c1.095-.232 1.931-.781 2.507-1.65.635-.926 1.009-1.91 1.124-2.952.116-1.1 0-2.17-.345-3.213-.346-1.1-.923-1.968-1.73-2.604-1.268-1.158-2.882-1.68-4.841-1.563Z"
                    ></path><path
                        fill="#85CCC6"
                        d="M90.68 104.414H1.517v116.678h89.161V104.414Z"
                    ></path><path
                        class="dark:fill-[#000]"
                        fill="#FAFFFF"
                        d="M63.931 141.128c1.499 2.836 1.844 6.425 1.038 10.766h-.087a54.25 54.25 0 0 1-6.484.695c-2.306.058-4.467-.202-6.485-.781.346-1.563.029-2.866-.95-3.908a6.628 6.628 0 0 0-3.546-1.997c-1.383-.289-2.738-.144-4.063.434-1.268.579-2.018 1.679-2.248 3.3-.116.405-.173.81-.173 1.216.057.347.115.723.173 1.128.46 1.39 1.21 2.316 2.248 2.779 1.037.463 2.161.781 3.371.955a20.064 20.064 0 0 1 8.474 2.952c2.651 1.621 4.813 3.676 6.484 6.165a14.415 14.415 0 0 1 2.335 4.342 16.07 16.07 0 0 1 .864 4.688c.116 1.621 0 3.271-.346 4.95a19.273 19.273 0 0 1-1.47 4.689c-.691 1.794-1.613 3.328-2.766 4.602a14.865 14.865 0 0 1-3.977 3.125c-1.441.811-3.027 1.419-4.755 1.824-1.672.347-3.401.492-5.188.434-2.536-.058-5.073-.492-7.609-1.302-2.478-.869-4.697-2.055-6.657-3.56a16.988 16.988 0 0 1-4.669-5.471c-1.153-2.199-1.643-4.689-1.47-7.467v-.521c2.018-.29 4.237-.347 6.658-.174 2.42.116 4.61.145 6.57.087.116 1.852.836 3.242 2.162 4.168 1.383.926 2.824 1.389 4.323 1.389 1.556-.058 2.882-.579 3.977-1.563 1.153-.984 1.556-2.489 1.21-4.515-.172-1.389-.69-2.489-1.555-3.299-.865-.869-1.903-1.563-3.113-2.084-1.153-.521-2.421-.898-3.804-1.129-1.384-.29-2.68-.55-3.891-.782a11.647 11.647 0 0 1-3.2-1.128 14.574 14.574 0 0 1-2.68-1.824c-2.65-2.547-4.38-5.354-5.187-8.422-.75-3.068-.778-6.049-.086-8.944.691-2.894 1.988-5.528 3.89-7.901 1.96-2.374 4.323-4.139 7.09-5.297 1.383-.579 2.91-.955 4.582-1.129a24.266 24.266 0 0 1 5.015-.173c1.73.057 3.4.289 5.015.694 1.671.405 3.199.926 4.582 1.563 2.767 1.447 4.9 3.589 6.398 6.426Z"
                    ></path><path
                        fill="#85CCC6"
                        d="M187.949 104.414H98.787v116.678h89.162V104.414Z"
                    ></path><path
                        class="dark:fill-[#000]"
                        fill="#fff"
                        d="M155.252 158.574c.403 1.678.72 3.01.951 3.994l6.484 30.39v.087c-1.729.347-3.631.463-5.706.347a31.417 31.417 0 0 1-5.88-.694h-.086a38.025 38.025 0 0 1-1.038-3.3 126.394 126.394 0 0 0-.951-3.907 61.478 61.478 0 0 0-.951-3.821c-.346-1.215-.72-2.257-1.124-3.125-.749-.116-1.326-.174-1.729-.174h-1.124c-.288 0-.634.029-1.037.087h-1.47c-.404.926-.75 2.026-1.038 3.299-.23 1.216-.49 2.518-.778 3.908a77.784 77.784 0 0 1-.778 3.907c-.288 1.273-.692 2.402-1.211 3.386-.057 0-.115.029-.173.087h-.086c-.461.116-1.614.116-3.458 0-1.845-.116-4.727-.145-8.646-.087-.058 0-.116-.029-.173-.087.115-.405.317-1.534.605-3.386a385.84 385.84 0 0 1 1.211-7.207c.518-2.952 1.124-6.338 1.815-10.159a405.094 405.094 0 0 1 2.594-12.33c.98-4.341 2.046-8.856 3.199-13.545a295.08 295.08 0 0 1 3.804-13.98 9.134 9.134 0 0 1 1.297-.087H144.444c1.21-.057 2.767-.173 4.669-.347.173.753.432 1.91.778 3.473a90.699 90.699 0 0 1 1.21 5.21c.462 1.91.923 3.965 1.384 6.165a869.85 869.85 0 0 1 1.47 6.339c.46 2.026.893 3.878 1.297 5.557Zm-11.154 9.725a62.132 62.132 0 0 1 3.286-.087c-.577-4.978-1.096-8.857-1.557-11.635-.403-2.779-.778-4.66-1.124-5.644-.288-.984-.605-1.187-.951-.608-.288.521-.576 1.621-.864 3.299-.231 1.679-.519 3.792-.865 6.339a356.577 356.577 0 0 1-1.038 8.249c.98.058 2.018.087 3.113.087Z"
                    ></path><path
                        fill="#85CCC6"
                        d="M285.22 104.414h-89.161v116.678h89.161V104.414Z"
                    ></path><path
                        class="dark:fill-[#000]"
                        fill="#fff"
                        d="M258.21 193.308c-.404.116-1.096.174-2.075.174-1.153 0-2.479-.087-3.977-.261a52.711 52.711 0 0 0-3.978-.173 513.966 513.966 0 0 0-5.706-12.417c-1.844-4.052-3.43-7.931-4.755-11.635l-.865-2.605a27.125 27.125 0 0 0-.691-1.737c-.174-.579-.318-.868-.433-.868-.058 0-.144.695-.259 2.084a376.594 376.594 0 0 0-.173 5.297c-.058 2.141-.115 4.515-.173 7.12v11.461c0 1.216.029 2.316.087 3.3-.635.173-1.269.289-1.903.347-.634.058-1.268.087-1.902.087-1.383 0-2.795-.087-4.236-.261a32.747 32.747 0 0 0-4.064-.26v-6.078c0-5.5-.058-10.738-.173-15.716-.057-4.979-.086-10.189-.086-15.63 0-3.994.057-7.93.173-11.809.115-3.936.316-7.757.605-11.461a17.074 17.074 0 0 1 1.815-.261 24.845 24.845 0 0 1 2.076-.087c.345 0 .922.029 1.729.087.806 0 1.614.058 2.421.174.806.058 1.498.145 2.075.26.634.116.95.232.95.348.404 1.042.779 1.91 1.124 2.605.347.694.664 1.36.952 1.997.345.636.692 1.36 1.037 2.17.404.753.865 1.737 1.383 2.953.116.289.375.839.779 1.649.403.811.864 1.766 1.383 2.866a202.011 202.011 0 0 1 1.643 3.386 153.29 153.29 0 0 1 1.556 3.213c.519.926.951 1.736 1.297 2.431.346.637.548.955.605.955.173-.116.317-.694.432-1.736.116-1.042.173-2.055.173-3.039 0-2.316-.057-4.458-.173-6.426a219.218 219.218 0 0 1-.086-6.165V136c.057-1.273.115-2.633.173-4.081a35.687 35.687 0 0 1 6.225-.521c2.133 0 4.035.174 5.706.521v27.96c.058 2.431.087 4.891.087 7.38v7.468c0 1.678-.029 3.299-.087 4.862V187.838c.058 1.158.087 2.315.087 3.473v1.737c-.115.058-.375.144-.778.26Z"
                    ></path><path
                        fill="#85CCC6"
                        d="M382.482 104.414H293.32v116.678h89.162V104.414Z"
                    ></path><path
                        class="dark:fill-[#000]"
                        fill="#fff"
                        d="M350.975 136.352c1.671 1.505 2.853 3.271 3.544 5.297.404.868.692 1.765.865 2.691.231.869.403 1.766.519 2.692.115 1.447.173 2.894.173 4.342a52.018 52.018 0 0 1 0 4.254c-.173 3.068-.231 6.049-.173 8.944a91.7 91.7 0 0 1-.26 8.856l-.259 2.866a33.287 33.287 0 0 1-.951 6.165c-.519 2.026-1.297 3.878-2.334 5.557-.98 1.389-2.277 2.518-3.891 3.386a23.634 23.634 0 0 1-5.015 1.91 23.737 23.737 0 0 1-4.928.869 34.933 34.933 0 0 1-4.928 0 35.038 35.038 0 0 1-3.545-.521 12.712 12.712 0 0 1-3.199-.955 11.827 11.827 0 0 1-2.68-1.737c-.807-.752-1.47-1.708-1.989-2.865a14.688 14.688 0 0 1-1.643-4.602 49.75 49.75 0 0 1-.432-5.036c-.173-4.516-.374-9.031-.605-13.546-.173-4.573-.115-9.146.173-13.719.058-2.605.374-5.21.951-7.815.634-2.663 1.844-5.007 3.631-7.033.576-.579 1.239-1.1 1.989-1.563a23.864 23.864 0 0 1 6.138-1.997 26.06 26.06 0 0 1 6.658-.521 24.25 24.25 0 0 1 6.484 1.216c2.133.636 4.035 1.592 5.707 2.865Zm-5.707 30.651v-4.168l-.172-5.904c0-.058-.058-.637-.173-1.737a368.316 368.316 0 0 0-.174-3.213c-.115-1.62-.576-3.096-1.383-4.428-.749-1.331-1.787-2.315-3.112-2.952a5.726 5.726 0 0 0-3.545-.261c-1.211.29-2.277.782-3.199 1.477-2.018 1.562-3.372 3.56-4.064 5.991a43.954 43.954 0 0 0-.864 6.946c-.058 2.431-.029 4.863.086 7.294.288 2.026.49 4.11.605 6.252a25.552 25.552 0 0 0 1.038 5.991 6.276 6.276 0 0 0 2.507 2.692 8.507 8.507 0 0 0 3.545 1.128 10.774 10.774 0 0 0 3.804-.521 7.693 7.693 0 0 0 3.199-2.17c.519-.695.894-1.245 1.124-1.65a4.36 4.36 0 0 0 .433-1.476 9.7 9.7 0 0 0 0-1.824c0-.752.057-1.736.173-2.952.057-1.158.086-2.171.086-3.039.058-.868.086-1.36.086-1.476Z"
                    ></path></g
                ><defs
                    ><clipPath id="a"
                        ><path fill="#fff" d="M0 0h384v221.091H0z"
                        ></path></clipPath
                    ></defs
                ></svg
            >
        </a>

        {
            headerData ? (
                <div data-react-nav class="flex items-center gap-4 w-full">
                    <HeaderNav client:load data={headerData} posts={posts} />
                </div>
            ) : (
                <div class="text-red-500">No header data loaded</div>
            )
        }
    </div>
</header>

<style>
    /* Prevenir FOUC (Flash of Unstyled Content) */
    [data-react-nav] {
        min-height: 40px;
    }
</style>
