---
import AstroImage from "@/components/image/AstroImage.astro";
import { Link } from "@/components/Link";
import type {
    Media,
    SocialMediaBlock as SocialMediaProps,
} from "@/lib/payloadTypes";

const { rrss } = Astro.props as SocialMediaProps;
---

{
    rrss && (
        <ul class="grid 2xl:grid-cols-2 2xl:grid-rows-1 md:place-items-center md:w-11/12 md:mx-auto grid-rows-2 grid-cols-1 my-12 gap-4 ">
            {rrss.map((social) => {
                const { link, icon } = social;
                const mediaData =
                    icon && typeof icon === "object" ? (icon as Media) : null;
                const { alt, unpicUrl, width, height, mimeType } =
                    mediaData || {};
                return (
                    <li class="grid grid-cols-[48px_1fr] place-items-center [&>span]:justify-self-start">
                        <Link
                            {...link}
                            className="grid justify-self-start font-bold"
                        />
                        <AstroImage
                            src={unpicUrl!}
                            width={width!}
                            height={height!}
                            alt={alt!}
                            className="row-1 justify-self-start  dark:[&>svg>path]:fill-[#f0f0f0] w-full [&>svg]:w-full "
                            mimeType={mimeType!}
                        />
                    </li>
                );
            })}
        </ul>
    )
}
