---
import { ContactForm } from "@/components/ContactForm";
import RichText from "@/components/RichText.astro";
import { getFormBySlug } from "@/lib/getFormBySlug";
import type { FormBlock } from "@/lib/payloadTypes";

interface Props {
    title?: string;
    subtitle?: string;
    content?: any;
    formSlug?: string;
    backgroundColor?: "white" | "gray" | "primary";
}

const {
    form,
    headerText,
    isReverse,
    enableCompanionText,
    enableHeaderText,
    companionText,
    id,
    bottom,
} = Astro.props as FormBlock;
const contactForm = await getFormBySlug(form["slug"]);

if (!contactForm) {
    throw new Error(`Formulario no encontrado`);
}

const bgColors = {
    white: "bg-white",
    gray: "bg-gray-50",
    primary: "bg-primary-50",
};
---

<section class={`bg-yellow-light relative pt-40 pb-40`}>
    <div
        class="wrapper m-auto py-8 px-4 grid grid-cols-1 grid-row-2 md:grid-cols-2 md:grid-rows-1"
    >
        <div>
            {
                headerText && enableHeaderText && (
                    <div class="mt-8 prose prose-lg mx-auto">
                        <RichText content={headerText} />
                    </div>
                )
            }
        </div>
        <div class="bg-yellow-neutral px-12 py-8 rounded-sm">
            {
                companionText && enableCompanionText && (
                    <p class="mt-4 text-xl text-center text-gray-600">
                        <RichText
                            content={companionText}
                            className="form-header mb-8 text-left md:text-start"
                        />
                    </p>
                )
            }
            <ContactForm client:load form={contactForm} />
        </div>
    </div>
</section>
