---
export const prerender = true;
import Layout from "@/layouts/Layout.astro";
import { getAllPosts } from "@/lib/getAllPosts";
import { getPostBySlug } from "@/lib/getPostBySlug";
import type { Media, Post as PostType } from "@/lib/payloadTypes";
import Post from "@/components/Post/Post.astro";

export async function getStaticPaths() {
    const posts = await getAllPosts();

    const validPosts = posts.filter(
        (post) => typeof post.slug === "string" && post.slug.trim() !== "",
    );

    if (validPosts.length === 0) {
        console.warn(
            "[WARN] No se encontraron slugs válidos para generar páginas.",
        );
    }

    return validPosts.map((post) => ({
        params: { slug: post.slug },
    }));
}

const { slug } = Astro.params;

if (!slug || typeof slug !== "string") {
    return Astro.redirect("/404");
}

const post = await getPostBySlug(slug, { depth: 2 });

if (!post) {
    return Astro.redirect("/404");
}
---

<Layout title={post.title}>
    <section class="wrapper m-auto">
        <Post {...post} />
    </section>
</Layout>
